.pa{
    position:absolute;
}
.abc{
    width:100px;
    height:800px;
    background:pink;
}
.circle{
    width:100%;
    height:100%;
    transition:transform 1s;
}
.circle div{
    border-radius:50%;
    transform: translate(200px);
    background-image:linear-gradient(grey, pink);
    animation:circle_div 10s alternate infinite;
}
@keyframes circle_div{
    0%{}
    100%{
        transform: translate(-800px) rotate(360deg);
        /*transform:  rotateZ(720deg);*/
    }
}
.circle_1{
    width:50px;
    height:50px;
    top:10%;
    left:80%;
}
.circle_2{
    width:120px;
    height:120px;
    top:20%;
    left:70%;
}
.circle_3{
    width:240px;
    height:240px;
    top:45%;
    left:50%;
}
.circle_4{
    width:450px;
    height:450px;
    top:20%;
    left:20%;
}
.circle_deg{
    transform:rotateZ(-30deg);
}
.skin{
    top: 50%;
    left: 50%;
    transition: transform 2s;
    transform: translate(-50%, -50%);
}
.s1_img{
    position:absolute;
    top:0;
}
.skin_move{
    transform:translate3d(-50%,-50%,800px) rotateY(180deg);
}
.s1{
    perspective: 1000px;
}
.s2{
    perspective: 1000px;
}
.s2_img{
    top:50%;
    left:50%;
    transition:all 1s;
    transform:translate3d(-50%,-50%,0);
}
.s2_img_move1{
    transform:translate3d(-50%,-50%,-10000px);
}
.s2_img_move2{
    transform:translate3d(-50%,-50%,1200px);
}
.s3{
    perspective: 1500px;
}
.s3_all{
    width:100%;
    height:100%;
    position: relative;
    transform:rotateX(45deg);
}
.s3_begin{
    transform:rotateX(90deg);
}
.s3_text{
    left: 24%;
    top: 42%;
    transition:transform 1s;
}
.s3_img{
    width:100%;
    height:100%;
    top: 30%;
    left: 40%;
    background: #fff;
    border:1px solid #000;
    transition:transform 1s;
}
.s3_begin .s3_img_move{
    transform:translate3d(1000px,1500px,0);
}
.s3_begin .s3_text_move{
    transform:translate3d(-1000px,1500px,0);
}

